.menuBurger {
  width: 3em;
  height: 3em;
  position: fixed;
  top: 2vmax;
  left: 2vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 1100;
}
.speedDialIcon {
  border-radius: 100%;
  /* position: absolute;
  right: 2px; */
}
.speedDial {
  position: fixed;
  right: 16px;
  top: 10px;
  z-index: 11 !important;
}
